body {
    background-color:  #10222B;
    width:  80%;
    margin-left:  auto;
    margin-right: auto;
}

#header {
    background-color:  #95AB63;
}

#banner img {
    width: 500px;
    height:  150px;
    display: block;
    margin: auto;
}

#nav {                                  /** centers the nav texts*/
    background-color:  #BDD64A;
    text-align: center;
}

#nav a {
    text-decoration:  none;
    color: #000000;
}

#nav ul {                               /** removes the padding to the left of a li*/
    padding-left: 0;
}

#nav li {
    display:  inline-block;
    list-style:  none;
    font-size:  x-large;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content {
    background-color:  #BDD6A4;
}

#content.homeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    background-color:  #95AB63;
    text-align: center;
    padding: 3px;
}